

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap');
@import '~antd/dist/antd.compact.less';





// .custom-image img {
//   display: block;
// }
// .custom-card {
//   padding: 10px 16px;
// }

// .card-container p {
//   margin: 0;
// }
// .card-container > .ant-tabs-card .ant-tabs-content {
//   height: 120px;
//   margin-top: -16px;
// }
// .card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
//   padding: 16px;
// }
// .card-container > .ant-tabs-card > .ant-tabs-nav::before {
//   display: none;
// }
// .card-container > .ant-tabs-card .ant-tabs-tab,
// [data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab {
//   background: transparent;
//   border-color: transparent;
// }
// .card-container > .ant-tabs-card .ant-tabs-tab-active,
// [data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
// }
// #components-tabs-demo-card-top .code-box-demo {
//   padding: 24px;
//   overflow: hidden;
// }



// .App {
//   text-align: center;
  
// }

.logo {
  float: left;
  width: 200px;
  height: auto;
  font-family: 'Ubuntu', sans-serif;
  color: #585858;
  padding-right: 18px;
}

// .sider-background {
//   background-color: @menu-bg;
// }


// .site-layout-content {
//   min-height: 280px;
//   padding: 24px;
// }



// .ant-row-rtl #components-layout-demo-top .logo {
//   float: right;
//   margin: 16px 0 16px 24px;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

// label {
//   display: block;
//   margin-top: 10px;
// }

// .card-container.card {
//   max-width: 350px !important;
//   padding: 40px 40px;
// }

// .btn-primary{
//   background-color: @primary-color;
//   border-color: transparent;
// }

// .btn-primary:hover{
//   color: @link-hover-color;
//   background-color: @primary-color;
//   border-color: transparent;
// }

// .jumbotron{
//   background-color: @menu-bg;
// }

// .ant-table table { font-size: 16px; }



// .card {
//   background-color: @menu-bg;
//   padding: 20px 25px 30px;
//   margin: 0 auto 25px;
//   margin-top: 50px;
//   -moz-border-radius: 2px;
//   -webkit-border-radius: 2px;
//   border-radius: 2px;
//   -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
//   -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
//   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
//   height: auto;
// }

// .profile-img-card {
//   width: 96px;
//   height: 96px;
//   margin: 0 auto 10px;
//   display: block;
//   -moz-border-radius: 50%;
//   -webkit-border-radius: 50%;
//   border-radius: 50%;
// }

